


@media(min-width: 768px){
    .menuButtons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        border: 3px solid white;
        width: 100%;
        color: #fff;
        justify-content: space-around;
        list-style-type:none;  
        background-color: rgba(0,0,0,.7);
        position: fixed;
        top:10px;
        left:0;
        width: 100%;
        z-index: 10;
        align-items: center;
        color: #fff;
        padding: 35px 100px 20px;
        
    }
    .ipadheaderimage{
        display: flex;
        justify-content: center;
        width: 25%; 
        margin-top: 100px;
        border-radius: 10%;
        border: 3px solid black;
    }
    .headerimage{ 
        display:none
    }
    .mainmenu{
        display: none;
    }

    .button{
        border: 3px solid white;
        border-radius: 10%;
        width: 200px;
        height: 200px;
    }
    .productGrid{
        display: flex;
    }
    .product{
        flex: 1;
    }

}
