*{
    background-color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 16px "Apfel Grotezk-Regular", sand-serif;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
}

.round{
    border: 3px solid white;
    border-radius: 50%;
}

.button{
    border: 3px solid white;
    border-radius: 10%;
    width: 150px;
    height: 150px;

}

ul, nav{
    list-style: none;
}

#socialheader {
   
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: Apfel Grotezk Regular;

}

#mainmenu {
    display: flex;
    font-family: Apfel Grotezk-Regular;
    
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}
   


#socialul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    flex-direction: row;
   
}

#footer {
display: flex;
flex-direction: column;
font-family: Apfel Grotezk Regular;
}

@font-face {
    font-family: Apfel Grotezk Regular;
    src: url("ApfelGrotezk-Regular.woff2") format("woff2"),
         url("ApfelGrotezk-Regular.woff") format("woff");
}