*{
    background-color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 16px 'ApfelGrotezk-Regular';
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
    cursor:pointer;
    opacity: 0.9;
}

a:hover{
    opacity: 1;
    color: black;
}

#underConstruction{
    height: 100vh;
    font-size: 44px;
    background-color: black;
}

#underConstruction1{
    flex: content;
    color: black;
    width: 100%;
    font-size: 44px;
    background-color:white;
}

#underConstruction2{
    flex: content;
    color: white;
   
    font-size: 44px;
    
}

#constructionImage{
    height: 100vh;
}

#constructionImage1{
    height: 100vh;
}

#constructionImage2{
    object-fit: fill;
}

.menuButtons{
    position: fixed;
    left: 1px;
    width: 30%;
    color: #fff;
    padding: 10px 10px 10px;
    display:flex;
    flex-direction: column;
    text-align: left;  
}

.round{
    border: 3px solid white;
    border-radius: 50%;
}

.button{
    border: 3px solid white;
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

.headerimage{ 
    position: flex;
    width: 75%;
    
}
.desktopheaderimage{
    display: none;
}
.ipadheaderimage{
    display: none;
}
.section{
display: flex;
flex-direction: column;
align-items: center;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate270 {
    transform: rotate(270deg);
}
   

/*
#socialul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    padding: 20px 30px 12px;
    align-items: center;
    position: relative;
    left: 1px;
    width: 30%;
    color: #fff;
}*/

.newsletter{
    
    font-family: 'ApfelGrotezk-Regular';
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    border-radius: 5px;
    color: white;
}


.newsletter input{
    
    font-family: 'ApfelGrotezk-Regular';
    border-radius: 3px;
    background-color: white;
    width: 222px;
    height: 50px;
    border: 3px;
    padding: 0 20px;
    color:red;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px ;
}
::placeholder{
    color: grey;
    text-align: center;
    
}
.newsletter button{
    border: 1px solid white;
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: white;
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
}
.newsletter button:hover{
    background-color: black;
    border-color: white;
    font-size: 16px;
}

.flex-grid{
    display: flex;
    flex-direction: row;
    display: block;

}
.col{
    flex: 1;
}

#footer {
display: flex;
flex-direction: column;
padding: 60px 0;
text-align: center;
align-items: center;
font-family: 'ApfelGrotezk-Regular';
}

@font-face {
    font-family: 'ApfelGrotezk-Regular';
    src: url("ApfelGrotezk-Regular.woff2") format("woff2"),
         url("ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
    font-family: BindlestiffNF;
    src: url("BindlestiffNF.otf") format("opentype");
}

@font-face {
    font-family: BindlestiffNF;
    font-weight: bold;
    src: url("BindlestiffShadowNF.otf") format("opentype");
}


